<div class = "row">
<div class = "col-md-4 col-md-offset-4">
<h1>Creature Creator</h1>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_form_for @creature do |f| %>
    <%= f.text_field :name, :placeholder =>"Enter a creature" %>
    <%= f.text_field :description %>
    <%= f.primary %>
    <% end %>
  </div>
</div>